div.formulario{ margin: 0 auto; text-align: center;}
/* Centramos el Formulario */

div.formulario input,select
{
    padding: 3px;
    margin: 3px;
    width: 180px;
    border-radius: 5px;
}

/* Agrandamos los campos de texto */

div.formulario h1{
    font-weight: bold;
    font-family: Arial;
}

div.formulario
{
    border-style: solid;
    border-color: black;
    width: 40%;
    padding: 40px;
}

/* Le ponemos un borde al formulario */

div.formulario img.user { width: 30%;} /* Hacemos pequeña la imagen */

div.formulario input.boton
{
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 9px;
}

/* Organizamos el Botón */

div.formulario input.boton:hover {background-color: green; border-radius: 20px; }

/* Organizmos el botón cuando se le ponga el puntero encima */

/* Centramos todo en general */
div.read
{
    font-family: Arial;
    margin: 0 auto;
    text-align: center;
    padding: 3px;
}

/* Centramos, agrandamos y decoramos los registros */
div.read div.registros
{
    padding: 8px;
    background-color:greenyellow;
    margin: 5px auto;
    width: 70%;
    border-radius: 10px;
}

/* Decoramos el boton "Borrar" */
input.delete
{
    background-color:crimson;
    color: white;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
}

/* Decoramos el boton "Editar" */
input.update
{
    background-color:green;
    color: white;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
}

div.formulario input.boton_Actualizar
{
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 9px;
}

/* Organizamos el Botón */

div.formulario input.boton_Actualizar:hover {background-color: darkblue; border-radius: 20px; }

/* Organizmos el botón cuando se le ponga el puntero encima */
